{% extends "layouts/app.twig" %}
{% block title %}Create Account{% endblock %}
{% block main %}
{% if auth() %}{{ redirect('dashboard') }}{% endif %}
<main class="register">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <div class="card mt-5">
                    <div class="card-body">
                        <form action="{{ route('register.do') }}" method="post">
                            <div class="mb-2">
                                <label for="fname">First Name</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="First Name"
                                    name="fname"
                                    id="fname"
                                    required
                                />
                            </div>
                            <div class="mb-2">
                                <label for="lname">Last Name</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Last Name"
                                    name="lname"
                                    id="lname"
                                    required
                                />
                            </div>
                            <div class="mb-2">
                                <label for="email">Email</label>
                                <input
                                    type="email"
                                    class="form-control"
                                    placeholder="Email"
                                    name="email"
                                    id="email"
                                    required
                                />
                            </div>
                            <div class="mb-2">
                                <label for="password">Password</label>
                                <input
                                    type="password"
                                    class="form-control"
                                    placeholder="Password"
                                    name="password"
                                    id="password"
                                    required
                                />
                            </div>
                            <div class="row align-items-center">
                                <div class="col-sm-4">
                                    <button type="submit" class="btn btn-primary">
                                        Register
                                    </button>
                                </div>
                                <div class="col-sm text-right">
                                    <a href="{{ route('login') }}">
                                        Have an account? Login
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}