{% extends "layouts/app.twig" %}
{% block title %}Home{% endblock %}
{% block main %}
<main class="pt-2">
    <div class="container">
        <div class="card">
            <div class="card-body text-center">
                <h1>Phoenix</h1>
            </div>
        </div>
    </div>
</main>
{% endblock %}