{% extends "layouts/app.twig" %}
{% block title %}Home{% endblock %}
{% block main %}
    <h2>{{ hello }}</h2>
    {% if auth() %}
    <a href="{{ route('dashboard') }}">Dashboard</a>
    {% else %}
    <a href="{{ route('login') }}">Login</a>
    {% endif %}
{% endblock %}